<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    
</head>

<body>
    <header>
    <h1>Gallery of Kofi Annan</h1>
    <nav id="nav-list">
      <ul>
        
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/gallery">Gallery</a>
    
      </ul>
    </nav>
    
</header>
    
</header>

    <main>
    <p>Some images related to Kofi Annan's life and work:</p>
    <div class="images">
        <img src="/images/image1.jpg" alt="Kofi Annan 1">
        <img src="/images/image2.jpg" alt="Kofi Annan 2">
        <img src="/images/image3.jpg" alt="Kofi Annan 3">
        <img src="/images/image4.jpg" alt="Kofi Annan 4">
        
        
  </div>
    </main>
</body>
</html>