<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="app.js"></script>
     
</head>

<body>

    <header>
    <h1>Kofi Annan's legacy</h1>
    
    <nav id="nav-list">
      <ul>
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
      </ul>
    </nav>
    <br>
    <img src="images/Kofi.jpg" alt="Kofi Annan">

    </header>
  <main>
    <h2>Welcome to Kofi Annan's Legacy</h2>
    <p>This website is dedicated to the life and legacy of Kofi Annan, the former Secretary-General of the United Nations and Nobel Peace Prize laureate. Here, you can learn about his remarkable contributions to global peace, development, and human rights.
    Explore the different sections of the website to discover more about Kofi Annan's life, his significant works, and a gallery of images that capture key moments in his career.
    Feel free to navigate through the links above to learn more about this influential figure and his enduring impact on the world.</p>
    <p>Kofi Annan stood as a quiet man in a deafeningly noisy world. As the UN Secretary-General, he faced global crises not with bluster, but with a profound calm. He listened when others shouted, persuaded when others tried to dominate, and championed humanity where others saw only political games. His legacy extends beyond passed resolutions—it is the powerful lesson that peace is an active duty, not a passive dream.</p>
    
  </main>
</body>

</html>
