<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">



    <title>Kofi Annans work</title>
</head>
<body>
    <header>
        <h1>Kofi Annan's Works</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/gallery">Gallery</a>
        </nav>
    </header>
    <main>
    <h1>Kofi Annan's Works</h1>
    <p>Some of the notable works include:</p>
    <ul>
        <li>UN Peacekeeping Operations</li>
        <li>HIV/AIDS Initiatives</li>
        <li>Millennium Development Goals</li>
        <li>Global Health Initiatives</li>
        <li>Human Rights Advocacy</li>
    </ul>
    <br>
    <img src="/images/image4.jpg" alt="Kofi Annan's Works">
    <br>

    <h2>Key Achievements</h2>
    <ul>
      <li><strong>Secretary-General of the United Nations (1997–2006):</strong> 
        <p> Diplomacy, peacekeeping reforms, and international cooperation.</p></li>
      <li><strong>Nobel Peace Prize (2001):</strong> 
        <p>Joined with the UN for promoting peace, development, and human rights.</p></li>
      <li><strong>Global Compact Initiative:</strong> 
       <p> Launched in 2000 to encourage businesses worldwide to adopt sustainable and socially responsible policies.</p></li>
      <li><strong>Fight Against HIV/AIDS:</strong>
        <p></p> For global awareness and funding to combat the epidemic, especially in Africa.</p></li>
      <li><strong>Kofi Annan Foundation:</strong> 
        <p>After his UN tenure to support peace, governance, and sustainable development worldwide.</p></li>
        
    </ul>
    
    </main>
</body>
</html>